/* 
    Document   : widget-accordion-skin-metal.css
    Created on : Sep 3, 2012, 11:41:45 AM
    Author     : Mac
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

