/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/**
 * Widget menuBar
 *
 * Includes menuBar-specific rules of the Default skin
 *
 * @style default
 * @link /walib/WAF/widget/css/widget.css
 * @link /walib/WAF/widget/menubar/css/widget-menubar.css
 * @link /walib/WAF/widget/skin/default/css/widget-skin-default.css
 *
 */


/**
 * -------------------------------------------------------
 * @section menuBar container
 * -------------------------------------------------------
 */
.default.waf-menuBar {
	border-width: 1px;
	border-style: solid;
	
    -webkit-box-shadow: 2px 2px 6px rgba(66, 55, 40, 0.2);
       -moz-box-shadow: 2px 2px 6px rgba(66, 55, 40, 0.2);
            box-shadow: 2px 2px 6px rgba(66, 55, 40, 0.2);
	
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	    -ms-border-radius: 3px;
	     -o-border-radius: 3px;
	        border-radius: 3px;
}


/**
 * -----------------------------------
 * @subsection horizontal menuBar
 * -----------------------------------
 */
.default.waf-menuBar-horizontal {
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsla(0, 0%, 100%, 0.6)), color-stop(1, hsla(0, 0%, 100%, 0)));
    background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0.6) 0%, hsla(0, 0%, 100%, 0) 100%);
    background-image:    -moz-linear-gradient(top, hsla(0, 0%, 100%, 0.6) 0%, hsla(0, 0%, 100%, 0) 100%);
    background-image:     -ms-linear-gradient(top, hsla(0, 0%, 100%, 0.6) 0%, hsla(0, 0%, 100%, 0) 100%);
    background-image:      -o-linear-gradient(top, hsla(0, 0%, 100%, 0.6) 0%, hsla(0, 0%, 100%, 0) 100%);
    background-image:         linear-gradient(top, hsla(0, 0%, 100%, 0.6) 0%, hsla(0, 0%, 100%, 0) 100%);*/
}


/**
 * -----------------------------------
 * @subsection vertical menuBar
 * -----------------------------------
 */
.default.waf-menuBar-vertical {
	background-image: none;
}



/**
 * -----------------------------------
 * @subsection included menuBar
 * -----------------------------------
 */
.default.waf-menuBar .waf-menuBar {
	background-image: none;
}