/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/**
 * Widget checkbox
 *
 * Includes mandatory rules for the checkbox widget
 *
 * @link /walib/WAF/widget/css/widget.css
 *
*/


/**
 * -------------------------------------------------------
 * @section Main
 * -------------------------------------------------------
*/
.waf-fileUpload {
    font-family: 'Droid Sans', sans-serif;
    font-size: 11px;
    color: rgb(175, 175, 175);
    border: 1px solid rgb(153, 153, 153);
    border-radius: 4px;
    display: inline-block;
    height: auto;
    overflow: visible !important;
}
.waf-fileUpload-paragraph {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    color: rgb(175, 175, 175);
}

.waf-widget.waf-button.waf-fileUpload-btnUpload {
    background-image: url("/walib/WAF/widget/fileUpload/images/upload.png");
    border: 0 none;
    background-color: transparent;
    -webkit-box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.148438) 0px 0px 0px 0px;
    -moz-box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.148438) 0px 0px 0px 0px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.148438) 0px 0px 0px 0px;
}

.waf-widget.waf-button.waf-fileUpload-btnBrowse{
    
}

.waf-widget.waf-button.waf-fileUpload-btnDelete {
    border-width: 0;
    
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
        -ms-border-radius: 7px;
         -o-border-radius: 7px;
            border-radius: 7px;
    
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.waf-widget.waf-button.waf-fileUpload-btnCardinal {
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
        -ms-border-radius: 7px;
         -o-border-radius: 7px;
            border-radius: 7px;
	
    background-color: rgb(255, 255, 255);
    color: rgb(175, 175, 175);
}

.waf-widget.waf-container.waf-fileUpload-fileList {
    
}

.waf-fileUpload-fileList-table{
    position: relative;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    /*background-color: inherit;*/
    color: rgb(0, 0, 0);
    cursor: default;
}

.waf-fileUpload-fileItem{
    height: 15px;
}

.waf-fileUpload-fileItem:hover {
    background-color: rgb(175, 175, 175);
}

.waf-fileUpload-fileItem-name{
    padding: 0 0 0 6px;
}

.waf-fileUpload-fileItem-button{
    width: 19px;
    padding: 0;
    text-align: center;
}

.waf-fileUpload-fileItem-button button {
    display: block;
    cursor: pointer;
    width: 13px;
    height: 13px;
    background: url(/walib/WAF/widget/fileUpload/icons/delete.png) no-repeat;
    border: 0 none;
}

.waf-fileUpload-fileList.waf-fileUpload-fileList-popup {
    position: absolute;
    width: 210px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    
	-webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
	   -moz-box-shadow: 0 0 10px rgb(0, 0, 0);
	        box-shadow: 0 0 10px rgb(0, 0, 0);
	
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	    -ms-border-radius: 3px;
	     -o-border-radius: 3px;
	        border-radius: 3px;
	
	overflow: visible;
}

.waf-fileUpload-fileList.waf-fileUpload-fileList-popup:before {
	position: absolute;
    content: '';
    background-color: inherit;
    /*background-image: inherit;*/
    width: 15px;
    height: 15px; 
	left: 50%;
        margin-left: -7.5px;
	top: -9px;/*
    border-top: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);*/
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: inherit;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
            transform: rotate(45deg);
    
	-webkit-box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.3);
	        box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.3);
}

.waf-fileUpload-fileList.waf-fileUpload-fileList-menu {
    
}

#waf-notify-container {
    top: auto;
    right: 0;
    bottom: 0;
    margin: 10px;
    font-size: 11px;
    font-family: "Lucida grande", "Segoe UI", "Tahoma", "sans-serif";
}

#waf-notify-container #waf-notify {
    display: none;
}

.waf-fileUpload-confirm {
    outline-width: 0px; 
    outline-style: initial; 
    outline-color: initial; 
    height: auto; 
    width: 400px; 
    top: 420px; 
    left: 750px; 
    display: block; 
    z-index: 1002; 
}
