/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/** 
 * datepicker jQuery-ui widget
 *
 * Includes datepicker-specific rules of the Light skin
 *
 * @style Light
 * @link /walib/WAF/widget/css/widget.css
 * @link /walib/WAF/widget/skin/metal/css/widget-skin-metal.css
 *
 */




/**
 * -------------------------------------------------------
 * @section datepicker container
 * -------------------------------------------------------
 */
.light.ui-datepicker {
	padding: 0;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	    -ms-border-radius: 4px;
	     -o-border-radius: 4px;
	        border-radius: 4px;
}

.light .ui-datepicker-header {
	-webkit-border-radius: 4px 4px 0 0;
	   -moz-border-radius: 4px 4px 0 0;
	    -ms-border-radius: 4px 4px 0 0;
	     -o-border-radius: 4px 4px 0 0;
	        border-radius: 4px 4px 0 0;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), color-stop(0.5, rgba(255, 255, 255, 0.17)), color-stop(0.5, rgba(255, 255, 255, 0.07)), to(rgba(255, 255, 255, 0.03)));
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.07) 50%, rgba(255, 255, 255, 0.03));
	background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.07) 50%, rgba(255, 255, 255, 0.03));
	background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.07) 50%, rgba(255, 255, 255, 0.03));
	background-image:      -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.07) 50%, rgba(255, 255, 255, 0.03));
	background-image:         linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.07) 50%, rgba(255, 255, 255, 0.03));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33ffffff', endColorstr='#07ffffff');
	
	border: 0;
}


.light .ui-datepicker-calendar {
	border: 5px solid transparent;
	margin: 0;
}

.light .ui-datepicker-calendar thead th {
	text-transform: uppercase;
}


.light .ui-datepicker-calendar td {
	padding: 0;
}

.light.ui-datepicker td a {
	background-image: none;
}
