/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/** 
 * Widget section
 *
 * Includes section-specific rules of the 'Cupertino iPad' skin
 *
 * @link /walib/WAF/widget/section/css/widget-section.css
 */

/**
 * -------------------------------------------------------
 * @section main
 * -------------------------------------------------------
 */
.cupertino.waf-section {
    overflow: hidden;
    
	border: 1px solid rgb(171, 171, 171);
	
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	    -ms-border-radius: 10px;
	     -o-border-radius: 10px;
	        border-radius: 10px;
	        
	background-color: rgb(255, 255, 255);
}

.cupertino.waf-section > .waf-container,
/* GUI Designer */
body.yui-layout .cupertino.waf-section > div > div .waf-container
/* // GUI Designer */
{
	border: none;
	border-top:    1px solid rgb(255, 255, 255);
	border-bottom: 1px solid rgb(202, 202, 202);
	
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
        -ms-border-radius: 0;
         -o-border-radius: 0;
            border-radius: 0;	
	
	background-color: transparent;
	
	box-shadow: none;
}

.cupertino.waf-section > .waf-container.waf-element-first,
/* GUI Designer */
body.yui-layout .cupertino.waf-section > div > div .waf-container.waf-element-first
/* // GUI Designer */
{
	border-top-color: transparent;
	
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	   -moz-border-radius-topleft: 10px;
	   -moz-border-radius-topright: 10px;
	        border-top-left-radius: 10px;
	        border-top-right-radius: 10px;
}

.cupertino.waf-section > .waf-container.waf-element-last,
/* GUI Designer */
body.yui-layout .cupertino.waf-section > div > div .waf-container.waf-element-last
/* // GUI Designer */
{
	border-bottom-color: transparent;
	
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	   -moz-border-radius-bottomright: 10px;
	   -moz-border-radius-bottomleft: 10px;
	        border-bottom-right-radius: 10px;
	        border-bottom-left-radius: 10px;
}

/**
 * -------------------------------------------------------
 * @subsection elements
 * -------------------------------------------------------
 */
.cupertino.waf-section .waf-richText {
	font-weight: bold;
	font-size: 16px;	
}
 
.cupertino.waf-section > .waf-container:not(.waf-section-blank) .waf-richText,
/* GUI Designer */
body.yui-layout .cupertino.waf-section > div > div .waf-container:not(.waf-section-blank) .waf-richText 
/* // GUI Designer */
{
	/* parent's height, border less */	
	line-height: 38px;
}

.cupertino.waf-section > .waf-container.waf-section-nav .waf-button,
/* GUI Designer */
body.yui-layout .cupertino.waf-section > div > div .waf-container.waf-section-nav .waf-button
/* // GUI Designer */
{
    border: 0px;

    background:none;
    background-image: url(/walib/WAF/widget/section/skin/images/widget-section-goNext.png);
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    box-shadow: none;
}

.cupertino.waf-section .waf-textField {
	padding: 0;
		
	border: none;
	
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
        -ms-border-radius: 0;
         -o-border-radius: 0;
            border-radius: 0;
	
	background-color: transparent;

	box-shadow: none;

	text-overflow: ellipsis;

	/* parent's height, border less */	
	line-height: 38px;
}