/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/**
 * Widget login
 *
 * Includes mandatory rules for the login widget
 *
 * @link /walib/WAF/widget/css/widget.css
 *
 */


/**
 * -------------------------------------------------------
 * @section login container
 * -------------------------------------------------------
 */
.waf-login {
   border-style: none;
   border-width: 0;
   overflow:  hidden;
       
   cursor: pointer;
   padding: 4px;
}

.waf-login a:hover {
	text-decoration: underline;
}

.waf-login-login {
	float: right;
	margin-right: 10px;
}

.waf-login-user {
	float: left;
}

.waf-login-logout {
	float: right;
	margin-right: 10px;
}

.waf-login-logout {
	margin-left: 10px;
}

.waf-login .waf-login-logout a {
	color: inherit;
}

.waf-login-div {
	padding:4px;
}

.waf-login-button {
	padding-bottom: 3px;
	padding-top: 3px;
	padding-left: 10px;
	padding-right: 10px;
	float: right;
	margin-right: 10px;
}

.waf-login-label {
	margin-right: 8px;
}
