/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/**
 * Widget checkbox
 *
 * Includes mandatory rules for the checkbox widget
 *
 * @link /walib/WAF/widget/css/widget.css
 *
 */


/**
 * -------------------------------------------------------
 * @section Main
 * -------------------------------------------------------
 */
 .waf-checkbox input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 0 none;
	
	/* this is needed by IE */
	display: block;
	opacity: 0.01;
	
	-webkit-appearance: none;
	   -moz-appearance: checkbox-container;
	    -ms-appearance: none;
	        appearance: none;
}

.waf-checkbox-icon img {
    width: 100%;
    height: 100%;
}

/**
 * -----------------------------------
 * @subsection checkbox states
 * -----------------------------------
 */

/* default */
.waf-checkbox-icon.waf-icon-image .waf-checkbox-icon-default {
 	display: block;
}
.waf-checkbox-icon.waf-icon-image .waf-checkbox-icon-active,
.waf-checkbox-icon.waf-icon-image .waf-checkbox-icon-hover,
.waf-checkbox-icon.waf-icon-image .waf-checkbox-icon-selected {
 	display: none;
}

/* hover */
.waf-state-hover .waf-checkbox-icon.waf-icon-image .waf-checkbox-icon-hover {
 	display: block;
}
.waf-state-hover .waf-checkbox-icon.waf-icon-image .waf-checkbox-icon-active,
.waf-state-hover .waf-checkbox-icon.waf-icon-image .waf-checkbox-icon-default,
.waf-state-hover .waf-checkbox-icon.waf-icon-image .waf-checkbox-icon-selected {
 	display: none;
}

/* active */
.waf-state-active .waf-checkbox-icon.waf-icon-image .waf-checkbox-icon-active {
 	display: block;
}
.waf-state-active .waf-checkbox-icon.waf-icon-image .waf-checkbox-icon-hover,
.waf-state-active .waf-checkbox-icon.waf-icon-image .waf-checkbox-icon-default,
.waf-state-active .waf-checkbox-icon.waf-icon-image .waf-checkbox-icon-selected {
 	display: none;
}
 
 
/* selected */
.waf-state-selected .waf-checkbox-icon.waf-icon-image .waf-checkbox-icon-selected {
 	display: block;
}
.waf-state-selected .waf-checkbox-icon.waf-icon-image .waf-checkbox-icon-hover,
.waf-state-selected .waf-checkbox-icon.waf-icon-image .waf-checkbox-icon-default,
.waf-state-selected .waf-checkbox-icon.waf-icon-image .waf-checkbox-icon-active {
 	display: none;
}
