/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/**
 * Widget menuBar
 *
 * Includes mandatory rules for the menu bar widget
 *
 * @link /walib/WAF/widget/css/widget.css
 *
 */


/**
 * -------------------------------------------------------
 * @section menuBar container
 * -------------------------------------------------------
 */
.waf-menuBar {
    display: block;
    /*height: 100%;
    width: 100%;*/
    outline: none;
    overflow: visible !important;
    text-align: center;
}


/**
 * -------------------------------------------------------
 * @section menuBar elements
 * -------------------------------------------------------
 */
.waf-menuBar li {
    position: relative;
    display: block;
}
.waf-menuBar li > .waf-richText {
    position: relative !important;
}

.waf-menuBar li p {
    display: table-cell;
    vertical-align: middle;
}


/**
 * -----------------------------------
 * @subsection menuBar horizontal
 * -----------------------------------
 */
.waf-menuBar-horizontal > li {
    float: left;
}


/**
 * -----------------------------------
 * @subsection included menuBar
 * -----------------------------------
 */
.waf-menuBar .waf-menuBar {
    display: none;
    background-image: none;
    
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    
    text-align: left;
}